<div class="panel panel-info">
  <div class="panel-heading">Drag there elements to builder</div>
  <div class="panel-body">
    <ul class="list-group">
		{{#each elements}}
			<li class="list-group-item">{{this.text}}</li>
		{{/each}}
	<ul>
  </div>
</div>