<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{{>navigation}}
		</div>

		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="builderTabs">
				<li role="presentation" class="active"><a href="#editMode" aria-controls="editMode" role="tab" data-toggle="tab">EDIT MODE</a></li>
				<li role="presentation"><a href="#previewMode" aria-controls="previewMode" role="tab" data-toggle="tab">PREVIEW MODE</a></li>
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="editMode">
					<div class="panel panel-primary">
						<div class="panel-heading">
							{{!--INFORMATOINAL PURP0SE--}}
							{{#if formRequest}}
								YOU ARE EDITING AN EXISTING RECORD	<span class="label label-warning">{{formRequest.ID}}</span>
							{{else}}
								CREATE A NEW FORM AND CLICK ON 'SAVE' BUTTON (Please do not <span class="label label-warning">refresh </span> the page while creating new form)
							{{/if}}
							
						</div>
						<div class="panel-body">
							<div>
								{{!--this variable requests form to be edited/displayed form the db--}}
								{{#if formRequest}}
									<form id="builder" class="build-wrap" data-request-form="{{formRequest.ID}}"></form>	
								{{else}}
									<form id="builder" class="build-wrap"></form>	
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="previewMode">
					<div class="panel panel-primary">
						<div class="panel-heading">
							PREVIEW MODE ENABLED
						</div>
						<div class="panel-body">
							<form id="builderPreview">
								<!--here comes the preview mode-->
							</form>
						</div>
					</div>	
				</div>
			</div>
		</div>

		
	</div>
</div>